<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Dojo Secrets</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right navigation">
                <a href="/clear" >Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <% if (messages.errors ) { %>
                    <% for ( error of messages.errors) { %>
                        <div class="alert-danger"><%= error %></div>
                    <% } %>
                <% } %>
                
                <% if (messages.success ) { %>
                    
                        <div class="alert-success"><%= messages.success %></div>
                <% } %>

                <% if (messages.PasswordMissMatch ) { %>
                    
                    <div class="alert-danger"><%= messages.PasswordMissMatch %></div>
                <% } %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Dojo Secrets</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Create a secret</p>
                        <form action="/secret" method="POST">
                            <div class="form-group">
                                <label for="secret">Secret</label>
                                <input type="text" class="form-control" id="secret" name="my_secret">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        All the secrets
                    </div>
                    <div class="card-body scroller">
                        <% for(s of result) { %>
                            <% if(s._users == user){ %>
                                <p class="card-text">
                                    <a href="/details/<%= s._id %>"><%= s.text %></a>
                                    <a href="/destroy/<%= s._id %>" class='btn btn-danger float-right'>delete</a>
                                </p>
                            <% } else {%>
                                <p class="card-text">
                                    <a href="/details/<%= s._id %>"><%= s.text %></a>
                                </p>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>